@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

/*.navbar {
   background: rgb(30,31,107);
background: linear-gradient(90deg, rgba(30,31,107,1) 0%, rgba(9,39,121,1) 0%, rgba(0,212,255,1) 100%);
}*/

.navbar-brand {
    color: #87C4FF;
    font-weight: bold;
    margin-left: 15px;
}

.cart .nav-link {
    color: #001C30;
    font-size: 22px;
    padding: 7px;
    margin-left: 30px;
    transition: color 0.2s;

}

.cart .nav-link:hover{
    color: #0074d9;
    
}

.search-bar{
    margin-right: 15px;
}

.search-bar input {
    width: 300px;
    padding: 8px;
    font-size: 16px;
    margin-left: 20px;
    border-radius: 20px;
    
}

.phone-card{
    border: 1px solid #0074d9;
    border-radius: 20px;
    color: #001C30;
    box-shadow: 0 0 20px #0074d9;
    margin: 30px;
    padding: 10px;
    text-align: center;
    max-width: 300px;
    height: 550px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.6s;
}
.phone-card:hover{
    transform: scale(1.2);
}
.phone-card img {
    max-width: 100%;
    height: 200px;
    padding-bottom: 10px;
    max-height: 200px;
    border-radius: 20px;
}

.cart{
    font-size: 35px;
    cursor: pointer;
    
}

.col-lg-3{
    width: 324px;
}

#telefoni{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.col-lg-3 .actions input{
    height: 40px;
	width: 60px;
	text-align: center;
	font-size: 18px;
    border-radius: 20px;
    border: #0074d9 solid;
    margin: 10px auto;
    display: block;
}
.col-lg-3 .actions button{

    border: #0074d9 solid;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.4s;
}
.col-lg-3 .actions button:hover{
    background-color: #0074d9;
    /*transform: scale(1.1);*/
}

.cart h2{
    display: flex;
    justify-content: center;
}
.button {
    border: #001C30 solid;
    border-radius: 20px;
    padding: 10px;
    transition: background-color 0.4s
}
.button:hover{
    background-color: #dd1b1b;
}
.logo{
    width: 350px;
    height: auto;
    margin: 10px;
    padding: 10px;   
}

.actions {
   display: grid;
   grid-template-rows: 1fr auto;
   align-items: end;
}
label{
    font-size: 20px;
    display: block;
    margin-left: 10px;
}

select{
    font-size: 18px;
    display: block;
    margin-left: 10px;
}


#korpaIzgled {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
#telefoniContainer{
    display: flex;
    justify-content: center;
}
.korpa {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cart-items{
    font-size: 18px;
}

.cart-items div {
    margin-bottom: 10px;
}

.total {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.banner{
    margin: 15px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
.banner img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.podnaslov{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}
.pocetnaNaslov{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #0074d9;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
}
footer {
    background-color: #0074d9;
    color: white;
    padding: 30px 0;
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    max-width: 300px;
}

.footer-section h2 {
    color: #87C4FF;
}

.footer-section p {
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section a {
    text-decoration: none;
    color: #87C4FF;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
}





